.popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.heading {
  height: 45px;
}

h2 {
  font-size: 1rem;
}

.filter-container {
  text-align: center;
}

.filter-container button {
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: white;
  color: blue;
  border-radius: 1rem;
  border: 2px solid black;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
}

button.active {
  background: blueviolet;
  color: white;
}
