.popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.updated {
  border-radius: 9999px;
  border: 1px solid white;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  color: white;
  margin-bottom: 20px;
}

.rating-content {
  border-radius: 9999px;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  padding: 5px 10px 5px 10px;
  display: inline;
  font-size: 12px;
  font-weight: 500;
}

.image {
  position: relative;
}

.position-container {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 20px;
  background: white;
  border-radius: 50%;
  text-align: center;
}

.position {
  font-size: 20px;
  right: 20px;
  top: 0;
  margin: 0;
  margin-top: 2px;
}

.disclaimer {
  font-style: italic;
  font-size: 9px;
}

.header {
  text-align: left;
  flex-direction: column;
  display: flex;
  border-radius: 10px;
  height: 80vh;
  background-image: url('/public/avatar-backdrop.jpeg');
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  filter: brightness(100%);
  justify-content: center;
  align-items: flex-start;
  background-position: top;
  padding-left: 5%;
  position: relative;
}

.header h2 {
  font-size: 1rem;
}

.filter-container {
  text-align: center;
}

h1 {
  font-size: 3rem;
}

.explainer {
  font-size: 1.5rem;
}

.explainer,
.disclaimer,
h1 {
  color: white;
  margin: 0;
  margin-bottom: 10px;
}

.filter-container button {
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: white;
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  border: 2px solid black;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 50px;
}

button.active {
  background: rgb(0, 0, 0);
  color: white;
}

@media (max-width: 641px) {
  .filter-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .filter-container button {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
  }
}
